
.expanded {
	display: block;
}

.compact {
	display: none;
}

.ui.inverted.menu {
	background: #23a24d !important;
}

@media screen and (max-width: 37.5em) {
  div.expanded {
    display: none;
	}
	
	div.compact {
		display: block;
	}
}